// Variable Color's
$background: #1a1b26;
$foreground: #a9b1d6;
$gray: #565f89;
$blue: #5fc1f2;
$light-blue: #68c0c8;

.links {
    background-color: $gray;
    margin: 4px;
    border-radius: 10px;
}

.icon-box {
    font-family: "JetBrainsMono Nerd Font";
    color: $blue;
    font-size: 26px;
    // border: 2px solid green;
    margin: 0px 5px;

    label {
        margin-left: 10px;
        margin-right: 10px;
        // border: 2px solid red;
    }
}

.bar-icon {
    font-family: "JetBrainsMono Nerd Font";
    color: $blue;
    font-size: 32px;
    // border: 2px solid purple;
    padding-right: 18px;
}

.separator {
    font-family: "JetBrainsMono Nerd Font";
    color: $light-blue;
    font-size: 24px;
    // border: 2px solid orange;
}
