.bar-center {
    // border: 2px solid red;
}

.center-clock {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
    font-weight: 700;

    .center-clock-seconds {
        opacity: 0;
        transition: opacity 180ms ease;
    }

    &:hover .center-clock-seconds {
        opacity: 1;
    }
}
